// COLORS
$lapis-lazuli: #05668dff;
$teal: #028090ff;
$persian-green: #00a896ff;
$mint: #02c39aff;
$cream: #f0f3bdff;
$white: #fff;
$black: #000;

//COLORS 2
$pink-lavender: #fdc5f5ff;
$plum-web: #f7aef8ff;
$lavender-floral: #b388ebff;
$vista-blue: #8093f1ff;
$sky-blue: #72ddf7ff;

//COLORS for texts
$space-cadet: #1b1f3bff;
$onyx: #343e3dff;