@mixin flex-start {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
}

//note-page
.header {
    margin-bottom: 5rem;
    // background-color: aqua;
}

.content__notes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.content__notes__wrapper {
    width: 20rem;
    height: 20rem;
    background-color: aquamarine;
    margin: 0rem 2rem 2rem 0;
    border-radius: 0.8rem;
    transition: transform 0.2s;

    &__text {
        @include flex-start;

        padding: 1rem;

        &__h1 {
            margin-bottom: 1rem;
        }

        &__description {
            margin: 0.8rem 0 6.3rem;
            font-size: 1.1rem;
        }

        &__info {
            @include flex-start;

            &__1 {
                display: block;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
            }
        }
    }

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
        box-shadow: 0.2rem 0.2rem 0.3rem black;
    }
}


//Contact Us Page

.contact {
    @include center-flex;
    flex-direction: column;

    &__header {
        font-size: 5rem;
    }

    &__text {
        font-size: 2.3rem;
        margin-top: 2rem;
    }
}

//About page

.about {

    &__header {
        font-size: 3.5rem;
        text-align: left;
        text-align: center;
    }

    &__text {
        margin-top: 1.2rem;
        
        &__1 {
            margin-bottom: 0.5rem;
            display: block;
            font-size: 2.1rem;
        }

        &__header {
            margin-bottom: 0.3rem;
            margin-top: 1.8rem;
            font-size: 1.8rem;
            
        }

        &__devnames {
            list-style: circle;
            margin-left: 1rem;
            font-size: 1.6rem;

            li {
                margin-top: 0.3rem;
            }
        }

        &__contactdev {
            font-size: 1.8rem;
            text-align: center;
            display: block;
            margin-top: 3rem;
        }
    }

    
}

//Sign Up Page

.signup {
    @include center-flex;

    flex-direction: column;
    font-size: 2rem;

    &__form {
        
    }
}