.content__home {
    height: 50rem;
}

//This scss is for login.html page
.content__login {

    @include center-flex;
    flex-direction: column;
    margin-top: 16rem;

    &__text {
        font-size: 3.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &__form {
        @include center-flex;
        flex-direction: column;
        
        &__text {
            width: 30rem;
            height: 3.5rem;
            padding: 0rem 0.5rem;
            border-radius: 0.5rem;
            background: transparent;

            &--1 {
                margin: 2.2rem 0 1rem;
            }

            &:focus {
                border: none;
            }

        }

        &__btn {
            margin-top: 2rem;
        }

    }

    &__forgotpass {
        margin-top: 4.5rem;
        font-size: 1.3rem;
    }

    &__signup {
        margin-top: 1.5rem;
        font-size: 1.3rem;
    }
}